<%- include("../partials/header") %>

<h1>this is a show route</h1>
<p><%= camps.name %></p>
<img src="<%= camps.image %>">
<p><%= camps.description %></p>
<p>
    <a class="btn btn-success" href="/campgrounds/<%= camps._id %>/comments/new">Add new comment</a>
</p>

<% camps.comments.forEach((comment)=>{ %>
<p>
    <strong> <%= comment.author %> </strong> - <%= comment.text %>
</p>
<% }) %>

<%- include("../partials/footer") %>